* text=auto
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.kts text eol=lf
*.kt text eol=lf
*.java text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.mjs text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary
*.jar binary
